.step{
    width: 22rem;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    padding: 60px;
}

.step>div{
    width: 100px;
    height: 100px;
}

.step>img{
    width: 65px;
    height: 65px;
}

.step>h1{
    line-height: 29px; 
    font-size: 27px;
}

.step>span{
    line-height: 29px;
    font-size: 21px;
}