.pricing{
    margin: 20px 0;
    height: 50rem;
    width: 17rem;
    background-color: white;
    border: 3px solid black; 
}

.date{
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: black;
    background-color: aqua;
    height: 70px;
    text-align: center;
}

.price{

}

.options{
    
}

.Button{
    
}