.nav-bar{
    width: 100%; 
    position: fixed;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.31);
}

.container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    width: 100%; 
    height: 6rem;
    background-color: rgb(241, 241, 231);
    gap: 70px;
    align-items: center;
    padding: 0 10px;
}

.menu>ul{ 
    gap: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: black
}

.button{
    height: 35px;
    border: solid 3px;
    border-color: rgb(100, 25, 199);
    color:#3a1564;
    text-align: center;
}

.button:hover{
    border-color: rgb(255, 0, 0);
    color : rgb(255, 0, 0);
}

.logo{
    height: 4rem;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.menu-button{
    display: none;
}

.menu-mobile{
    display: none;
}

@media only screen and (max-width: 700px) {
    .container{
        justify-content: space-between;
        position: absolute;
        top: 0;
    }

    .menu {
        display: none;
    }

    .menu-button{
        display: block;
        height: 50px;
        width: 50px;
    }
    
    .menu-mobile{
        width: 100%;
        height: 5.5rem;
        display: block;
        background-color: aquamarine;
        position: relative;
        top: 0;
    }

    .menu-mobile>ul{
        list-style: none;
        align-items: center;
        padding-left: 0;
    }

    .menu-mobile>ul{
        list-style: none;
        text-align: center;
        padding-left: 0;
        margin: 0;
    }
}